html {
    scroll-padding-top: 14vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #8BB7D2;
}

#nav {
    position: fixed;
    background-color: #549BD6;
    font-weight: 650;
    text-shadow: 2px 2px 2px black;
    z-index: 1;
}

#nav a {
    color: #F4D35E;
    text-decoration: none;
}

#nav #navFlex {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 13.5vh;
    list-style-type: none;
    font-size: 2rem;
    align-items: center;
}

#nav #navFlex li {
    padding: 15px;
}

#nav #downArrowImg {
    position: relative;
    top: 1.5vh;
    right: 3.2vw;
    height: 2.7rem;
}

#nav #contact {
    margin-left: auto;
}

#nav #dropdownOptions {
    font-size: 1.5rem;
    padding: 10px;
    display: none;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 10.5vh;
    left: 30vw;
    border: 3px solid black;
    background-color: rgb(138, 209, 206);
}

#nav #downArrow:hover #dropdownOptions {
    display: flex;
}

#nav #icon {
    width: 8vh;
    height: auto;
}

#about-us {
    grid-area: about-us;
    background-color: #F4D35E;
    text-align: center;
    height: fit-content;
    color: #0E3F6C;
    border-radius: 25px;
    padding: 10px;
}

#about-us h1 {
    color: #0E3F6C;
    font-weight: 950;
    font-size: 2rem;
    text-shadow: 1px 1px 1px black;
}

#cooperations {
    margin-top: 10px;
    grid-area: coop;
    background-color: #549BD6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.coop-pictures {
    width: 90%;
    height: auto;
    margin: 10px;
    border: 4px solid #0E3F6C;
}

.coop-description {
    text-align: center;
    padding: 10px;
    font-size: 0.95rem;
}

#container {
    position: relative;
    top: 14vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        'video about-us .'
        'video coop .'
        'flexVideo forSale .'
        '. contact .';
}

main {
    grid-area: forSale;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr repeat(6, 4fr);
    height: fit-content;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    background-color: #549BD6;
    border-radius: 25px;
}

main #forSaleHead {
    background-color: #F4D35E;
    color: #0E3F6C;
    font-weight: 950;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px black;
    grid-column: span 2;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}

main img {
    width: 70%;
    height: 50%;
    height: auto;
    margin: 10px;
    border: 4px solid #0E3F6C;
}

main .animalInfo {
    text-align: center;
    color: #F4D35E;
    font-weight: 650;
    text-shadow: 2px 2px 2px black;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 1vw;
    top: 14vh;
    width: 22vw;
    background-color: #F4D35E;
    border-radius: 25px;
}

#book-ride-img {
    width: 22vh;
    height: auto;
}

.tour-btn, .sale-btn {
    color: #0E3F6C;
    width: 12vw;
    border-radius: 60px;
    height: 8vh;
    padding: 1vh 4vh;
    margin: 2vh;
    justify-content: center;
    color: black;
    font-weight: 950;
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px #EE964B;
}

#camel-btn,
#ostrige-btn,
#bull-btn ,
.sale-btn{
    background-color: #8BB7D2;
}

#horse-btn,
#elephant-btn,
#donkey-btn {
    background-color: #1C7ED9;
    align-self: flex-end;
}

#tours-title {
    text-align: center;
    margin: 2vh;
    color: #0E3F6C;
    font-weight: 950;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
}

#sideVideo {
    grid-area: video;
    width: 22vw;
    height: 70vh;
    border-radius: 25px;
    justify-self: center;
}

#flexVideo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    grid-area: flexVideo;
    justify-content: space-around;
    justify-self: center;
}

#flexVideo video {
    margin-top: 14px;
    width: 22vw;
    border-radius: 25px;
}

.sale-btn:hover {
    background-color: #1C7ED9;
}

.sale-btn {
    transition: background-color 0.3s ease-in 0s;
  }

footer {
    margin-top: 20px;
    grid-area: contact;
    background-color: #F4D35E;
    text-align: center;
    border-radius: 25px;
}

footer h3 {
    padding: 10px;
    color: #0E3F6C;
    font-weight: 950;
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 800px) {

    html {
        scroll-padding-top: 10vh;
    }

    #container {
        position: relative;
        top: 10vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'about-us'
            'coop'
            'forSale'
            'bookTours'
            'contact';
        align-items: center;
        justify-items: center;
        padding: 0px 20px 0px 20px;
    }

    aside {
        position: static;
        grid-area: bookTours;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 90vw;
        margin-top: 10px;
    }

    #flexVideo,
    #sideVideo {
        display: none
    }

    footer {
        grid-area: contact;
        width: 90vw;
    }

    .tour-btn {
        width: fit-content;
    }

    #nav #navFlex {
        height: 9.5vh;
        font-size: 1.5rem;
    }

    #nav #downArrowImg {
        position: relative;
        top: 1.15vh;
        right: 5.3vw;
        height: 2.2rem;
    }

    .sale-btn {
        height: fit-content;
        width: fit-content;
    }
}